@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #000000;
  --primary: #3E9E69;
  --secondary: #EFB331;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

@layer base {
  * {
    /* @apply border-border outline-ring/50; */
  }

  body {
    @apply bg-background text-foreground;
  }
}